asn1crypto==0.24.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
Django==2.2.2
django-formtools==2.1
freemol==1.158
h5py==2.9.0
idna==2.8
mkl-fft==1.0.12
mkl-random==1.0.2
numpy==1.16.4
olefile==0.46
OpenMM==7.3.1
pdb2pqr-minimal==0.0.0
pdbfixer==1.5
Pillow==6.0.0
py3wetransfer==0.0.2
pycparser==2.19
pymol==2.3.2
pyOpenSSL==19.0.0
PySocks==1.7.0
python-magic==0.4.15
pytz==2019.1
requests==2.22.0
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.2
