{% extends "base.html" %}

{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}

    <style>
        .error input, .error select, .errorlist {
            color: red;
        }

        #gray-button {
            background-color: #e7e7e7;
            color: black;
        }

        #blue-button {
            background-color: #5e88e7;
            color: black;
        }

    </style>


    <h1><strong>Create Your Simulation</strong></h1><br>

    <!-- "Step x of y" -->
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

    <!-- Step description -->
    {% if  wizard.steps.current  == '0' %}
        <h3>Determine the number of proteins</h3>
    {% elif  wizard.steps.current  == '1' %}
        <h3>Upload PDB files</h3>
    {% elif  wizard.steps.current == '2' %}
        <h3>Determine the relative position between the proteins</h3>
    {% elif  wizard.steps.current == '3' %}
        <h3>Set the parameters for the simulation</h3>
    {% endif %}
    <br>

    {% for field in form %}
        {{ field.error }}
    {% endfor %}

    <form action="" method="post">{% csrf_token %}

        <!-- The forms: -->
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}
        <br>

        <!-- "Next" and "Submit" buttons -->
        {% if wizard.steps.current == wizard.steps.last %}
            <input id="blue-button" type="submit" value="Submit" class="btn btn-primary"/>
        {% else %}
            <input id="blue-button" type="submit" value="Next" class="btn btn-primary"/>
        {% endif %}

        <!-- "Return To Start" and "Previous" buttons -->
        {% if wizard.steps.prev %}
            <button id="gray-button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn">
                {% trans "Previous" %}
            </button>
            <button id="gray-button" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="btn">
                {% trans "Return To Start" %}
            </button>
        {% endif %}

    </form>

{% endblock %}

