{% extends "base.html" %}

{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}

    <title>SimuMole: Create Simulation</title>

    <style>

        .error input, .error select, .errorlist {
            color: red;
            padding-bottom: 30px;
        }

        #gray-button {
            background-color: #e7e7e7;
            color: black;
            margin-bottom: 20px;
        }

        #blue-button {
            background-color: #5e88e7;
            color: black;
            margin-bottom: 20px;
        }

        @keyframes spinner {
            to {
                transform: rotate(360deg);
            }
        }

        .spinner:before {
            content: '';
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 2px solid #e7e7e7;
            border-top-color: #07d;
            border-bottom-color: #07d;
            animation: spinner .8s ease infinite;
            display: inline-block;
        }

        #spinner-image {
            display: inline-block;
            margin-right: 5px;
        }

        #spinner-text {
            display: inline-block;
        }

        #id_1-z1, #id_1-z2, #id_1-degYZ_1, #id_2-temperature {
            margin-bottom: 20px;
        }

    </style>


    <h1><strong>Create Your Simulation</strong></h1><br>

    <!-- "Step x of y" -->
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

    <!-- Step description -->
    {% if  wizard.steps.current  == '0' %}
        <h3>Determine the number of proteins and upload PDB files</h3>
    {% elif  wizard.steps.current == '1' %}
        <h3>Determine the relative position between the proteins (in Angstroms)</h3>
    {% elif  wizard.steps.current == '2' %}
        <h3>Set the parameters for the simulation</h3>
    {% endif %}
    <br>

    {% for field in form %}
        {{ field.error }}
    {% endfor %}

    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

        <!-- The forms: -->
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_p }}
            {% endfor %}
        {% else %}
            {{ wizard.form.as_p }}
        {% endif %}

        {% if  wizard.steps.current == '2' %}
            <p style="font-size: smaller">The duration of one time step is 2.0fs (fs/femtosecond = 10^-15 second)</p>
        {% endif %}
        <br>

        <!-- "Next" and "Submit" buttons -->
        {% if wizard.steps.current == wizard.steps.last %}
            <input onclick="show_loading_spinner()" id="blue-button" type="submit" value="Submit"
                   class="btn btn-primary"/>
        {% else %}
            <input onclick="show_loading_spinner()" id="blue-button" type="submit" value="Next"
                   class="btn btn-primary"/>
        {% endif %}

        <!-- "Return To Start" and "Previous" buttons -->
        {% if wizard.steps.prev %}
            <button onclick="show_loading_spinner()" formnovalidate="formnovalidate" id="gray-button"
                    name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.prev }}" class="btn">
                {% trans "Previous" %}
            </button>
            <button onclick="show_loading_spinner()" formnovalidate="formnovalidate" id="gray-button"
                    name="wizard_goto_step" type="submit"
                    value="{{ wizard.steps.first }}" class="btn">
                {% trans "Return To Start" %}
            </button>
        {% endif %}


        <!-- loading spinner -->
        <div id="loading_spinner">
            <div class="spinner" id="spinner-image"></div>
            <div id="spinner-text">
                {% if  wizard.steps.current  == '0' %}
                    <p>Checks that the PDB is valid (ID exist / file format is correct), and supported by OpenMM</p>
                {% elif  wizard.steps.current == '1' %}
                    <p>Checks that the position is legal (the proteins do not collide with each other)</p>
                {% elif  wizard.steps.current == '2' %}
                    <p>Validates your request</p>
                {% endif %}
            </div>
        </div>

    </form>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">

        // show/hide the loading spinner:

        hide_loading_spinner(); // hide spinner as default#

        function show_loading_spinner() {
            let num_of_proteins_1 = document.getElementById('id_0-num_of_proteins_0');
            let num_of_proteins_2 = document.getElementById('id_0-num_of_proteins_1');
            if (num_of_proteins_1 && num_of_proteins_2) { // the user is currently filling form 0
                if (num_of_proteins_1.checked || num_of_proteins_2.checked)
                    change_visibility_of_element("loading_spinner", '', '');
            } else
                change_visibility_of_element("loading_spinner", '', '');
        }

        function hide_loading_spinner() {
            change_visibility_of_element("loading_spinner", 'hidden', 'none');
        }


        // form0 - show/hide the fields "first pdb" and "second pdb":

        let num_of_proteins = document.getElementById('id_0-num_of_proteins');
        if (num_of_proteins) { // the user is currently filling form 0
            show_or_hide_outer();

            // outer
            num_of_proteins.onchange = show_or_hide_on_change_outer;
            change_padding_of_element('id_0-num_of_proteins');

            // first inner
            let first_pdb_type = document.getElementById('id_0-first_pdb_type');
            first_pdb_type.onchange = show_or_hide_on_change_inner;
            change_padding_of_element('id_0-first_pdb_type');

            // second inner
            let second_pdb_type = document.getElementById('id_0-second_pdb_type');
            second_pdb_type.onchange = show_or_hide_on_change_inner;
            change_padding_of_element('id_0-second_pdb_type');
        }

        function change_padding_of_element(element_id) {
            let element = document.getElementById(element_id);
            element.style.paddingBottom = '15px';
        }

        function show_or_hide_outer() {
            let num_of_proteins_1 = document.getElementById('id_0-num_of_proteins_0');
            let num_of_proteins_2 = document.getElementById('id_0-num_of_proteins_1');

            document.getElementById('id_0-first_pdb_type_0').checked = false;
            document.getElementById('id_0-first_pdb_type_1').checked = false;
            document.getElementById('id_0-second_pdb_type_0').checked = false;
            document.getElementById('id_0-second_pdb_type_1').checked = false;

            if (num_of_proteins_1.checked) {
                // in case the user choose to load only one pdb - then show only "first_pdb"

                num_of_proteins_2.checked = false;

                show_element('id_0-first_pdb_type');
                show_element('id_0-first_pdb_type_0');
                show_element('id_0-first_pdb_type_1');

                hide_element('id_0-first_pdb_id', 'none');
                hide_element('id_0-first_pdb_file', 'none');

                hide_element('id_0-second_pdb_type');
                hide_element('id_0-second_pdb_type_0');
                hide_element('id_0-second_pdb_type_1');

                hide_element('id_0-second_pdb_id', 'none');
                hide_element('id_0-second_pdb_file', 'none');
            } else if (num_of_proteins_2.checked) {
                // in case the user choose to load 2 pdbs - then show "first_pdb" and "second_pdb"

                num_of_proteins_1.checked = false;

                show_element('id_0-first_pdb_type');
                show_element('id_0-first_pdb_type_0');
                show_element('id_0-first_pdb_type_1');

                hide_element('id_0-first_pdb_id', 'none');
                hide_element('id_0-first_pdb_file', 'none');

                show_element('id_0-second_pdb_type');
                show_element('id_0-second_pdb_type_0');
                show_element('id_0-second_pdb_type_1');

                hide_element('id_0-second_pdb_id', 'none');
                hide_element('id_0-second_pdb_file', 'none');
            } else {
                num_of_proteins_1.checked = false;
                num_of_proteins_2.checked = false;

                hide_element('id_0-first_pdb_type');
                hide_element('id_0-first_pdb_type_0');
                hide_element('id_0-first_pdb_type_1');

                hide_element('id_0-first_pdb_id', 'none');
                hide_element('id_0-first_pdb_file', 'none');

                hide_element('id_0-second_pdb_type');
                hide_element('id_0-second_pdb_type_0');
                hide_element('id_0-second_pdb_type_1');

                hide_element('id_0-second_pdb_id', 'none');
                hide_element('id_0-second_pdb_file', 'none');
            }
            show_or_hide_inner();
        }

        function show_or_hide_on_change_outer() {
            show_or_hide_outer();
            hide_errorlist()
        }

        function show_or_hide_inner() {
            let first_pdb_type_0 = document.getElementById('id_0-first_pdb_type_0');
            let first_pdb_type_1 = document.getElementById('id_0-first_pdb_type_1');
            if (first_pdb_type_0.checked) {
                show_element('id_0-first_pdb_id');
                hide_element('id_0-first_pdb_file', 'none');
            } else if (first_pdb_type_1.checked) {
                hide_element('id_0-first_pdb_id', 'none');
                show_element('id_0-first_pdb_file');
            } else {
                hide_element('id_0-first_pdb_id', 'none');
                hide_element('id_0-first_pdb_file', 'none');
            }

            let second_pdb_type_0 = document.getElementById('id_0-second_pdb_type_0');
            let second_pdb_type_1 = document.getElementById('id_0-second_pdb_type_1');
            if (second_pdb_type_0.checked) {
                show_element('id_0-second_pdb_id');
                hide_element('id_0-second_pdb_file', 'none');
            } else if (second_pdb_type_1.checked) {
                hide_element('id_0-second_pdb_id', 'none');
                show_element('id_0-second_pdb_file');
            } else {
                hide_element('id_0-second_pdb_id', 'none');
                hide_element('id_0-second_pdb_file', 'none');
            }
        }

        function show_or_hide_on_change_inner() {
            show_or_hide_inner();
            hide_errorlist()
        }

        function hide_errorlist() {
            let errors = document.getElementsByClassName("errorlist");
            for (let l = 0; l < errors.length; l++) {
                {#errors[l].style.display = 'none';#}
            }
        }

        function hide_element(element_id, display = 'none') {
            change_visibility_of_element(element_id, 'hidden', display)
        }

        function show_element(element_id) {
            change_visibility_of_element(element_id)
        }

        function change_visibility_of_element(element_id, visibility = '', display = '') {
            let element = document.getElementById(element_id);
            element.style.visibility = visibility;      // visibility = 'hidden' or ''
            element.style.display = display;            // display = 'none' or ''
            change_visibility_of_label(element_id, visibility, display);
        }

        function change_visibility_of_label(for_input, visibility, display = '') {
            let totalLabel = document.getElementsByTagName('label');
            for (let l = 0; l < totalLabel.length; l++) {
                let lbb = totalLabel[l].getAttribute('for');
                if (lbb === for_input) {
                    totalLabel[l].style.visibility = visibility;
                    totalLabel[l].style.display = display;
                }
            }
        }

    </script>
{% endblock extra_js %}

