{% extends "base.html" %}
{% block content %}
    <title>SimuMole: Upload PDB & DCD</title>

    <style>

        .error input, .error select, .errorlist {
            color: red;
            padding-bottom: 30px;
        }

        #blue-button {
            background-color: #5e88e7;
            color: black;
            margin-bottom: 20px;
        }

    </style>

    <h1><strong>Upload PDB and DCD files</strong></h1><br>

    <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input id="blue-button" type="submit" value="Upload" class="btn btn-primary"/>
    </form>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">

        // init user_rand:
        let user_rand_field = document.getElementById('id_user_rand');
        if (user_rand_field) {
            let user_rand_val = Math.floor(Math.random() * 1000);

            user_rand_field.value = user_rand_val.toString();
            user_rand_field.style.visibility = 'hidden';
            user_rand_field.style.display = 'none';

            console.log("user_rand=" + user_rand_val.toString()) // todo: delete
        }

    </script>
{% endblock extra_js %}
