{% extends "base.html" %}
{% block content %}
    <div>
        <h1><strong style="font-size: xx-large">Help</strong></h1>

        <br>
        <h4>PDB file</h4>
        <p style="font-size: medium">
            Protein Data Bank (PDB) file is a <strong>textual file</strong> that describes the <strong>three-dimensional
            structures</strong> of the molecules by storing <strong>ATOM records</strong>
            (which represent atomic coordinates, occupancy, temperature factor and more) for each atom in the molecule.
            <br>You can <strong>find PDB files </strong>describing a variety of molecules <a href="https://www.rcsb.org/">here</a>
            and you can also generate your own PDB file
            (note that this includes learning the mechanics of a PDB file or using some external tool).
        </p>

        <br>
        <h4>DCD file</h4>
        <p style="font-size: medium">
            DCD trajectory file is a <strong>binary file</strong> that contains the <strong>atomic coordinates</strong>
            of the atoms for <strong>every timestep</strong> of the simulation.
            <br>After running a simulation via our <strong>Create Simulation</strong> tab you can <strong>download</strong> the DCD file and <strong>use it later</strong>
            either in our website via the <strong>Upload PDB & DCD</strong> tab or via other programs
            (like PyMOL) as well.
        </p>

        <br>
        <h4> How to create a simulation?</h4>
        <p style="font-size: medium">
            <strong style="font-size: large;">1.</strong> Click on the <strong>Create Simulation</strong> tab.
            <br><strong style="font-size: large;">2.</strong> Upload 1 or 2 PDB files according to your choice.
            You can choose the PDB files by their associated id or from your computer.
            <br><strong style="font-size: large;">3.</strong> Click <strong>Next</strong> and wait for our check system to approve  your PDBs / IDs.
			<br><strong style="font-size: large;">4.</strong> If you uploaded 2 PDB files in step 2, determine the relative position between them by entering for each protein the amount of distance and the degrees to rotate from its initial location.	
			<br>&nbsp <strong style="font-size: large;">4.1.</strong> Click <strong>Next</strong> and wait for our check system to verify that the molecules are not overlapping.
			<br><strong style="font-size: large;">5.</strong> Enter temperature (Kelvin / Celsius) and the number of steps of the simulation.
			<br><strong style="font-size: large;">6.</strong> Click <strong>Submit</strong> and wait for the simulation creation.
			<br><strong style="font-size: large;">7.</strong>  Examine your simulation. See <strong>Examine your simulation</strong> section for more details.
        </p>

        <br>
        <h4> How to view a simulation animation using existing PDB and DCD files?</h4>
        <p style="font-size: medium">
            <strong style="font-size: large;">1.</strong> Click on the <strong>Upload PDB & DCD</strong> tab.
            <br><strong style="font-size: large;">2.</strong> Click on <strong>Choose File</strong>, navigate to your
            PDB / DCD file and open it. Do it for the PDB file and its related DCD file.
            <br><strong style="font-size: large;">3.</strong> Click on <strong>Upload</strong> and wait for the animation creation.
			<br><strong style="font-size: large;">4.</strong>  Examine your simulation. See <strong>Examine your simulation</strong> section for more details.
        </p>
		
		<br> 
		<h4>Examine your simulation</h4>
		<p style="font-size: medium">
			After creating or uploading a simulation (as explained in the previous  sections), the <strong>Examine Your Simulation</strong> page will show up.
			<br> In the <strong>Examine Your Simulation</strong> page, you can view the animation of your simulation from 10 different angles.
			<br> To start running the animation, click on the <strong>Play</strong> button. To pause the animation, click on the <strong>Pause</strong> button.
			<br> To restart the animation click on the <strong>Restart</strong> button. To move <strong>forward </strong> or <strong>backward</strong> click on the +5 frames or -5 frames buttons, respectively.
			<br> To play an animation on the <strong>big screen</strong>, <strong>click</strong> on the <strong>animation</strong>.
			<br> The <strong>Full Control</strong> button will provide you some control buttons for each animation separately.
		</p>
		
		<br> 
		<h4>Download the output files</h4>
		<p style="font-size: medium">
			After creating or uploading a simulation (as explained in the previous sections), the <strong>Examine Your Simulation</strong> page will show up.
			<br> At the bottom of the page, you will find the download files option. Follow these steps to download your files as Zip:
			<br><strong style="font-size: large;">1.</strong> Select the files you want to download. You can download the PDB file, the DCD file, and the animation files.
			<br><strong style="font-size: large;">2.</strong> Choose how to download the files:
			<br> &nbsp &nbsp <strong>Option 1:</strong> Direct download.
			<br> &nbsp &nbsp <strong>Option 2:</strong> Via email (you will have to enter your email). Notice that due to the limitation of the size of files that can be sent via email, you may get a link to your desired files.
		</p>

        <br> 
        <h4>How to view your proteins in the PyMOL program?</h4>
        <p style="font-size: medium">
            <strong style="font-size: large;">1.</strong> Make sure you have PyMOL installed on your computer.
            If not, you can download it from
            <a href="https://www.pymol.org/2/#download">here</a> and then follow the instructions to install it.
            <br><strong style="font-size: large;">2.</strong> After you open PyMOL, click the <strong>file</strong> tab
            and then click the <strong>open</strong> option.
            <br><strong style="font-size: large;">3.</strong> In the open window, navigate to your <strong>PDB file</strong>
            and open it. You will see the proteins that the PDB file represents.
        </p>

        <br>
        <h4>How to view your simulation in the PyMOL program?</h4>
        <p style="font-size: medium">
            <strong style="font-size: large;">1.</strong> Do the steps in the previous section to open the <strong>PDB file</strong>.
            <br><strong style="font-size: large;">2.</strong> Repeat <strong>1.</strong>
            with the <strong>DCD file</strong> to open the related DCD file. In the popped-up window, click on <strong>load</strong>.
            <br><strong style="font-size: large;">3.</strong> click on the <strong>play</strong> button in the right bottom corner.
        </p>

        <br>
        <p>Note that our capability of setting the relative position between molecules is limited,
            so we encourage you to upload 1 PDB file that contains the merged molecules.
            <br>This can be done using the PyMOL program.
        </p>

    </div>
{% endblock content %}