{% extends "base.html" %}
{% block content %}

    <title>Home - SimuMole</title>

    <div>

        {################################################################}
        {# project description                                          #}
        {################################################################}
        <h1>Welcome to SimuMole!</h1>

        <p style="font-size: large">
            <strong>SimuMole</strong> is a web application to create molecular dynamic simulations.
        </p>
        <p style="font-size: large">
            <strong>Molecular Dynamics</strong> is a computer simulation method for studying the physical movements
            of atoms and molecules. The atoms and molecules are allowed to interact for a fixed period of time,
            giving a view of the dynamic evolution of the system. In the most common version, the trajectories of
            atoms and molecules are determined by numerically solving Newton's equations of motion for a system of
            interacting particles, where forces between the particles and their potential energies are often
            calculated using interatomic potentials or molecular mechanics force fields.
        </p>
        <p style="font-size: large">
            With SimuMole you can <strong>create animations</strong> by selecting PDB files or by uploading PDB and DCD
            files from previous runs.
        </p>

        {################################################################}
        {# technologies                                                    #}
        {################################################################}
        <br>
        <h3>Technologies</h3>
        <p> complete later...</p>

        {################################################################}
        {# GitHub                                                       #}
        {################################################################}
        <br>
        <br>
        <p> For more information, visit our repository hosted by
            <a href="https://github.com/TechnionYP5779/SimuMole">GitHub</a>.
        </p>

    </div>

{% endblock %}
