{% extends "base.html" %}
{% block content %}

<div>
  <h3>Welcome to SimuMole!</h3>
  <p>SimuMole is a web application to create molecular dynamic simolations.
    Molecular dynamics is a computer simulation method for studying the physical movements of atoms and molecules. The atoms and molecules are allowed to interact for a fixed period of time, giving a view of the dynamic evolution of the system. In the most common version, the trajectories of atoms and molecules are determined by numerically solving Newton's equations of motion for a system of interacting particles, where forces between the particles and their potential energies are often calculated using interatomic potentials or molecular mechanics force fields.
  </p>
</div>
{% endblock %}
