{% extends "base.html" %}
{% block content %}
    <title>Molecular Animation</title>

    <video id="big_video" width="1100" height="400" loop muted>
        <source src="{{path}}video_1.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>


    <video id="video_1" width="175" height="150" loop muted onclick="play_big(this.id)">
        <source src="{{path}}video_1.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <video id="video_2" width="175" height="150" loop muted onclick="play_big(this.id)">
        <source src="{{path}}video_2.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <video id="video_3" width="175" height="150" loop muted onclick="play_big(this.id)">
        <source src="{{path}}video_3.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <video id="video_4" width="175" height="150" loop muted onclick="play_big(this.id)">
        <source src="{{path}}video_4.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <video id="video_5" width="175" height="150" loop muted onclick="play_big(this.id)">
        <source src="{{path}}video_5.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <video id="video_6" width="175" height="150" loop muted onclick="play_big(this.id)">
        <source src="{{path}}video_6.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <button type="submit" class="buttonStyle" id="StartButton" onclick="StartAllVideos()">
        {% load static %}
        <img src="{% static "SimuMoleWeb/Start_button.png" %}" alt="Start" height="70" width="70">
    </button>

    <button type="submit" class="buttonStyle" id="PauseButton" onclick="PauseAllVideos()">
        {% load static %}
        <img src="{% static "SimuMoleWeb/Pause_button.png" %}" alt="Pause" height="70" width="70">
    </button>

	<button type="submit" class="buttonStyle" id="MinusFiveButton" onclick="minusFive()">
		-5
	</button>

	<button type="submit" class="buttonStyle" id="PlusFiveButton" onclick="plusFive()">
		+5
	</button>

	<button type="submit" class="buttonStyle" id="RestartButton" onclick="restart()">
		Restart
	</button>

    <button type="submit" class="btn btn-primary" id="FullControl" onclick="GetFullControl()">
        Full Control
    </button>

    <button type="submit" class="btn btn-primary" id="LessControl" onclick="GetLessControl()">
        Less Control
    </button>

    <style>
            .buttonStyle {
                font-size: 17px;
                background: Transparent;
                border: none;
                outline: none;
                cursor:pointer;
                padding: 0px;
                margin: 0;
                {#background-color: white;#}
                {#background-repeat:no-repeat;#}
            }
            #video_1{
                position: relative;
            }
            #video_2{
                position: relative;
            }
            #video_3{
                position: relative;
            }
            #video_4{
                position: relative;
            }
            #video_5{
                position: relative;
            }
            #video_6{
                position: relative;
            }
            #big_video{
                position: relative;
                {#top: -200px;#}
            }
            #StartButton{
                position: absolute;
                left: 70px;
                top: 380px;
            }
            #PauseButton{
                position: absolute;
                left: 70px;
                top: 380px;
                display: none;
            }
            #FullControl{
                position: absolute;
                left: 40px;
                top: 520px;
            }
            #LessControl{
                position: absolute;
                left: 40px;
                top: 520px;
                display: none;
            }
			#MinusFiveButton{
			    position: absolute;
                left: 70px;
                top: 460px;
				color: #E67E22;
			}
			#PlusFiveButton{
			    position: absolute;
                left: 110px;
                top: 460px;
				color: #E67E22;
			}
			#RestartButton{
			    position: absolute;
                left: 75px;
                top: 490px;
				color: #2980B9;
			}
    </style>

    <script>
    function StartAllVideos(){
        for(let i = 1; i <= 6; i++) {
            document.getElementById("video_" + i).play();
        }
        document.getElementById("big_video").play();
        document.getElementById("StartButton").style.display="none";
        document.getElementById("PauseButton").style.display="initial";
    }
    function PauseAllVideos(){
        for(let i = 1; i <= 6; i++) {
            document.getElementById("video_" + i).pause()
        }
        document.getElementById("big_video").pause();
        document.getElementById("StartButton").style.display="initial";
        document.getElementById("PauseButton").style.display="none";
    }
	function play_big(video_id) {
		let big = document.getElementById("big_video");
        let video = document.getElementById(video_id);
        big.setAttribute('src', "{{path}}" + video_id + ".mp4");
        big.currentTime = video.currentTime;
		video.paused ? big.pause() : big.play();
	}
    function GetFullControl() {
        for(let i = 1; i <= 6; i++) {
            document.getElementById("video_" + i).controls=true;
        }
        document.getElementById("LessControl").style.display="initial";
        document.getElementById("FullControl").style.display="none";
    }
    function GetLessControl() {
        for(let i = 1; i <= 6; i++) {
            document.getElementById("video_" + i).controls=false;
        }
        document.getElementById("LessControl").style.display="none";
        document.getElementById("FullControl").style.display="initial";
    }
	function minusFive() {
        for(let i = 1; i <= 6; i++) {
            let v = document.getElementById("video_" + i)
            v.currentTime = v.currentTime <= 5 ? 0 : v.currentTime-5;
        }
		let v = document.getElementById("big_video")
		v.currentTime = v.currentTime <= 5 ? 0 : v.currentTime-5;
	}
	function plusFive() {
        for(let i = 1; i <= 6; i++) {
            let v = document.getElementById("video_" + i)
            v.currentTime = v.currentTime+5 >= v.duration ? v.duration : v.currentTime+5;
        }
		let v = document.getElementById("big_video")
		v.currentTime = v.currentTime+5 >= v.duration ? v.duration : v.currentTime+5;
	}
	function restart() {
        for(let i = 1; i <= 6; i++) {
        	document.getElementById("video_" + i).currentTime = 0;
        }
	document.getElementById("big_video").currentTime = 0;
	}
    </script>

{% endblock %}
